.logo{
    width: 7%;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow:
    0 0 7px rgb(252, 193, 74),
    0 0 10px rgb(252, 193, 74),
    0 0 21px rgb(252, 193, 74),
    0 0 42px rgb(252, 193, 74);

}



