

.container_flex .container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 100PX;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: -100px;
}


@media screen and (max-width: 480px) {
    .container_flex .container{
        display: grid;
        grid-template-columns: 1fr ;
        padding: 100PX;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: -100px;
        padding-left: 0px;
        }
    
}